@import url('https://fonts.googleapis.com/css2?family=Montserrat&family=Silkscreen&display=swap');
label{
    font-family: 'Montserrat', sans-serif;
    color: black;
    font-weight:bold;
}
h1{
    font-size: 40px;
    font-family: 'Montserrat', sans-serif;
}
input{
    font-size: 20px;
    font-family: 'Silkscreen', cursive;
}
li{
    font-size: 20px;
    font-family: 'Silkscreen', cursive;
    color: black;
}

