@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@1,200&family=PT+Mono&display=swap');
label{
    font-family: 'Montserrat', sans-serif;
    color: black;
    font-weight:bold;
}
h1{
    font-family: 'Montserrat', sans-serif;
}
input{
    font-family: 'PT Mono', monospace;
}
.botão{
    
}